package home

import (
	"fmt"
	"purple-check/internal/components/alert"
	"purple-check/internal/models"
)

type ViewModel struct {
	receivers struct {
		MostPositive []models.ReceiverStats
		MostNegative []models.ReceiverStats
	}
}

templ View(vm ViewModel) {
	<section class="flex-1 space-y-10 py-8">
		<h1 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight">Reviews for buyers and sellers on Instagram</h1>
		@SearchBox()
		@alert.Alert() {
			@alert.Title() {
				Writing Reviews
			}
			@alert.Description() {
				<p class="mb-2">
					To leave a review, send a direct message to <a href="https://ig.me/m/purplecheck_org" class="text-primary-foreground">{ "@purplecheck_org" }</a> on Instagram.
				</p>
			}
		}
		@TopStoresList(vm.receivers)
	</section>
}

templ TopStoresList(receivers struct {
	MostPositive []models.ReceiverStats
	MostNegative []models.ReceiverStats
}) {
	<div class="space-y-8">
		<div class="space-y-4">
			<h2 class="text-lg font-semibold">Top Rated Stores</h2>
			<div class="grid md:grid-cols-2 gap-6">
				if len(receivers.MostPositive) == 0 {
					<p class="text-sm text-muted-foreground">No positive reviews yet.</p>
				} else {
					for _, store := range receivers.MostPositive {
						@TopStoresCard(store)
					}
				}
			</div>
		</div>
		<div class="space-y-4">
			<h2 class="text-lg font-semibold">Lowest Rated Stores</h2>
			<div class="grid md:grid-cols-2 gap-6">
				if receivers.MostNegative == nil {
					<p class="text-sm text-muted-foreground">No negative reviews yet.</p>
				} else {
					for _, store := range receivers.MostNegative {
						@TopStoresCard(store)
					}
				}
			</div>
		</div>
	</div>
}

templ TopStoresCard(store models.ReceiverStats) {
	<a
		href={ templ.URL("/profile/" + store.Username) }
		class="flex items-center justify-between rounded-md border p-3 hover:bg-muted transition-colors"
	>
		<div>
			<span class="font-medium">{ store.Username }</span>
			{{
				plural := ""
				if store.TotalCount > 1 {
					plural = "s"
				}
			}}
			<p class="text-xs text-muted-foreground">
				{ 
					fmt.Sprintf("%d review%s", store.TotalCount, plural) }
			</p>
		</div>
		if store.Score > 0.5 {
			<div class="flex items-center gap-1 rounded-full bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-200">
				{ fmt.Sprintf("%.0f", store.Score*100) }
			</div>
		} else {
			<div class="flex items-center gap-1 rounded-full bg-red-100 px-2.5 py-0.5 text-xs font-medium text-red-800 dark:bg-red-900 dark:text-red-200">
				{ fmt.Sprintf("%.0f", store.Score*100) }
			</div>
		}
	</a>
}

templ NotFound() {
	<section class="flex-1 text-slate-600 space-y-4">
		<h1 class="py-4 text-3xl text-slate-950 font-bold">This page does not exist.</h1>
		<p>
			<span class="font-medium text-slate-950">Search for a username</span> to see reviews.
		</p>
		@SearchBox()
	</section>
}
