@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoSans';
  src: url('/static/fonts/NotoSans.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/static/fonts/NotoSans-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

.radio-input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.radio-label {
  cursor: pointer;
  font-size: 0;
  color: rgba(0,0,0,0.2);
  transition: color 0.1s ease-in-out;
}

.radio-label:before {
  content: "★";
  display: inline-block;
  font-size: 48px;
}

.radio-input:checked ~ .radio-label {
  color: #7e22ce;
  color: purple;
}
