{{ define "content" }}
    <header class="shadow-sm">
        {{ block "header" . }} {{ end }}
    </header>
    <div class="p-4">
        <h1 class="text-xl font-bold mb-2">Connect Account</h1>
        <p>You must connect to your instagram account to leave feedback for others.</p>
    </div>
    {{ block "connect" . }} {{ end }}
{{ end }}
