{{ define "content" }}
    {{ block "search" . }} {{ end }}
    <div>
        <h1>Connect Account</h1>
        <p>You must connect to your instagram account to leave feedback for others.</p>
        {{ block "connect" . }} {{ end }}
    </div>
{{ end }}
