package app

templ DeleteMyData() {
	<div class="flex w-full">
		<section class="block py-8 prose">
			<h1>Delete my data</h1>
			<p>
				To delete all reviews you have posted, please send an email to <a href="mailto:contact@purple-check.org" class="underline">contact@purple-check.org</a> with the subject line "Delete my data".
			</p>
			<p>
			You will be asked to verify ownership of the account by sending a us a direct message on Instagram.
			</p>
		</section>
	</div>
}
