package profile

import "purple-check/internal/models"

var dateFormatter = templ.NewOnceHandle()

templ FeedbackList(feedbackList []models.Feedback) {
	if len(feedbackList) == 0 {
		<p>No feedback yet.</p>
	} else {
		<ul class="divide-y">
			for _, feedback := range feedbackList {
				<li class="feedback py-4 grid">
					<div class="mb-1 text-muted-foreground">
						<p class="text-sm">
							{ feedback.Rating }
						</p>
					</div>
					<div class="flex space-x-2 items-baseline">
						<h3 class="font-medium text-primary">
							<a href={ templ.URL("/profile/" + feedback.Giver) }>{ feedback.Giver }</a>
						</h3>
						<span>
							.
						</span>
						<p class="text-muted-foreground">
							<time datetime={ feedback.CreatedAt } class="created-at-datetime">{ feedback.CreatedAt }</time>
						</p>
						if feedback.Medium == "REDDIT_THREAD" {
							<p class="text-muted-foreground text-xs ml-auto">
								Source: <a class="underline" href={ "https://www.reddit.com" + feedback.Source }>Reddit </a>
							</p>
						}
					</div>
				</li>
			}
		</ul>
	}
	@dateFormatter.Once() {
		<script nonce={ templ.GetNonce(ctx) }>
        document.querySelectorAll('.created-at-datetime').forEach((datetime) => {
            const createdAt = datetime.getAttribute('datetime');
            const date = new Date(createdAt);

            const since = Date.now() - date.getTime();
            if (since < 1000 * 60) {
                datetime.textContent = 'Just now';
                return;
            }
            if (since < 1000 * 60 * 60) {
                const minutes = Math.floor(since / (1000 * 60));
                datetime.textContent = `${minutes} minute${minutes > 1 ? 's' : ''} ago`;
                return;
            }
            if (since < 1000 * 60 * 60 * 24) {
                const hours = Math.floor(since / (1000 * 60 * 60));
                datetime.textContent = `${hours} hour${hours > 1 ? 's' : ''} ago`;
                return;
            }

            datetime.textContent = date.toLocaleDateString(undefined, {
                month: 'short',
                day: 'numeric',
                year: 'numeric',
            });
        });
    	</script>
	}
}
