package profile

import (
	"net/url"
	"purple-check/internal/components/button"
	"purple-check/internal/models"
)

type ViewModel struct {
	FeedbackList  []models.Feedback
	ReceiverStats models.ReceiverStats
}

templ View(vm ViewModel) {
	<section class="pt-8">
		{{
			username := vm.ReceiverStats.Username
			instagramURL := "https://www.instagram.com/" + url.PathEscape(username)
			refValues := url.Values{"ref": []string{username}}
			feedbackURL := "https://ig.me/m/purplecheck_org?" + refValues.Encode()
		}}
		<div class="flex items-center gap-4">
			<h1 class="text-2xl font-bold bg-primary text-primary-foreground px-3 py-2 rounded-lg break-all text-wrap flex">{ "@" + username }</h1>
			<a target="_blank" aria-label="Link to the user's Instagram profile" rel="noreferrer" href={ templ.URL(instagramURL) }>
				<img class="h-12 w-12 p-3 dark:hidden" src="/static/Instagram_Glyph_Black.svg" alt="The Instagram logo"/>
				<img class="h-12 w-12 p-3 hidden dark:flex" src="/static/Instagram_Glyph_White.svg" alt="The Instagram logo"/>
			</a>
		</div>
		<div class="flex justify-center my-8">
			{{
				feedbackButton := button.Props{
					Href:      templ.URL(feedbackURL),
					Variant:   button.VariantOutline,
					Target:    "_blank",
					FullWidth: true,
				}
			}}
			@button.Button(feedbackButton) {
				Leave feedback for this user
			}
		</div>
		<div class="my-4">
			<h2 class="text-xl mb-4 font-bold tracking-tight">Feedback received</h2>
			@FeedbackList(vm.FeedbackList)
		</div>
	</section>
}
