<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Purple Check</title>
		<link rel="stylesheet" href="/static/styles.css" />
		<script src="/static/htmx.min.js"></script>
	</head>
	<body class="min-h-svh flex flex-col">
		<div class="flex-1">
			{{ block "content" . }} {{ end }}
		</div>
		<footer class="bg-purple-900 mt-16">
			<div class="px-4 py-8">
				<nav>
					<ul class="grid grid-cols-2 gap-2">
						<li>
							<a href="/privacy-policy" class="text-sm text-purple-50">Privacy Policy</a>
						</li>
						<li>
							<a href="/terms-of-service" class="text-sm text-purple-50">Terms of Service</a>
						</li>
						<li>
							<a href="/delete" class="text-sm text-purple-50">Delete my data</a>
						</li>
						<li>
							<a href="/contact" class="text-sm text-purple-50">Contact</a>
						</li>
						<li>
							<a href="/about" class="text-sm text-purple-50">About</a>
						</li>
					</ul>
				</nav>
			</div>
		</footer>
	</body>
</html>
