{{ define "search" }}
<div class="px-4 py-6 bg-purple-800 text-slate-50">
    <form action="/search" method="post">
        <label for="username">Search for a user</label>
        <input class="text-slate-950" type="text" name="username" id="username" class="lowercase" required  />
        <button type="submit">Check</button>
    </form>
</div>
{{ end }}
