package components

templ Header() {
	<header class="">
		<div class="flex py-4 justify-between items-center container mx-auto px-4">
			<div class="flex items-center h-full">
				<a class="flex items-center justify-center" href="/">
					<img class="h-8 w-8 mr-4" src="/static/purple-check-logo.svg" alt="The Purple Check logo"/>
					<span class="text-lg font-bold text-purple-700 leading-none">Purple Check</span>
				</a>
			</div>
		</div>
	</header>
}
